body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 0;
}

#container {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

#container.noscroll {

}

#image-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    overflow: scroll;
    transition: opacity 200ms ease-in-out;
}

#image-overlay.active {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: rgba(0,0,0,0.9);
}

#image-overlay.leaving {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0,0,0,0.9);
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

img {
    margin: auto;
    width: 100%;
    max-width: 100vw;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: zoom-in;
    transition: all 200ms ease-in-out;
}

#image-overlay img {
    cursor: zoom-out;
}

#container img {
    width: 100%;
}

#container img:hover {
    transform: scale(1.02);
}

@media (min-width: 640px) {
    #container {
        max-width: 1280px;
        display: flex;
    }

    img {
        margin: auto;
        width: auto;
    }

    .column {
        width: 600px;
        margin: 0 20px;
    }
}